body {
    background: rgb(35, 41, 59);
    font: normal 15pt Arial;
    color: rgb(191, 213, 216);
    text-align: center;
    

}
section {
    background: rgb(5, 28, 43);
    margin: auto;
    width: 300px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.582);
}
#botoes input {
    background:rgb(42, 60, 63);
    border-radius: 10px;
    border: 20px;
    margin: 3px;
    color:rgb(191, 213, 216);

}
#numeros input[type = "number"] {
    background:rgb(233, 251, 253);
    border-radius: 10px;
    border: 10px;
    width: 150px;
    padding: 8px;
    margin: 5px;
    text-align: center;
}
